body {
    width: 800px;
    height: 800px;
}

.form-search {
     padding-top: 15px;
 }

h3 {
    text-align: center;
    color: #000000;
}

a {
    color: #000000;
}

.carousel-control {
    top: 0;
}