<!DOCTYPE html>
<html ng-app="RSSFeedApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>AngularJS Feed Reader - jsFiddle demo</title>
    <script type='text/javascript' src="jquery/jquery-1.9.1.min.js"></script>
    <script type='text/javascript' src='angular/angular.min.js'></script>
    <script type='text/javascript' src='js/services.js'></script>
    <!--<script type='text/javascript' src='angular/angular-sanitize.js'></script>-->
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css">
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-responsive.min.css">

    <style type='text/css'>
        @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
        *{
            font-family:roboto,arial,helvetica;
        }
        .small{
            font-size:11px;
        }
    </style>
    <script type='text/javascript'>
        //<![CDATA[

        'use strict';

        var App = angular.module('RSSFeedApp', ['wikipedia-services']);

        App.controller("FeedCtrl", ['$scope','FeedService', 'settings', function ($scope,Feed, settings) {
            console.log('Settings = ', settings.getLanguages());
            $scope.loadButonText="Load";
            $scope.loadFeed=function(e){
                Feed.parseFeed($scope.feedSrc).then(function(res){
                    $scope.loadButonText=angular.element(e.target).text();
                    $scope.feeds=res.data.responseData.feed.entries;
                    for(var i=0; i < $scope.feeds.length; i++) {
                        console.log('entry = ', $scope.feeds[i].content);
                        var newElement = angular.element($scope.feeds[i].content).find('img').each(function (idx, node) {
                            node.src = 'http:' + node.src;
                        });

                        $scope.feeds[i].content = newElement.html();
                    }
                    console.log('########## $scope.feeds = ', $scope.feeds);
                });
            }
        }]);

        App.factory('FeedService',['$http',function($http){
            return {
                parseFeed : function(url){
                    return $http.jsonp('http://ajax.googleapis.com/ajax/services/feed/load?v=1.0&num=50&callback=JSON_CALLBACK&q=' + encodeURIComponent(url));
                }
            }
        }]);


        //]]>
    </script>


</head>
<body>
<div class="container-fluid">
    <div data-ng-controller="FeedCtrl">
        <div class="row-fluid">
            <h4>Feed Reader using AngularJS</h4>
            <form>
                <div class="input-prepend span12">
                    <div class="btn-group">
                        <button class="btn btn-info" type="button" tabindex="-1">{{loadButonText}}</button>
                        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="feedSrc='http://en.wikipedia.org/w/api.php?action=featuredfeed&feed=potd&feedformat=atom';loadFeed($event)">Wikipedia Featured Article</a></li>
                            <li><a href="#" ng-click="feedSrc='http://en.wikipedia.org/w/api.php?action=featuredfeed&feed=potd&feedformat=atom';loadFeed($event)">Wikipedia Featured Article</a></li>
                        </ul>
                    </div>
                    <input type="text" class="span10" autocomplete="off" placeholder="Enter Feed URL" data-ng-model="feedSrc" />
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class=" icon-search"></i></span>count
                    <input class="span12" type="text" data-ng-model="filterText" />
                </div>
            </form>
        </div>
        <div class="row-fluid">
            <ul class="unstyled">
                <span class="badge badge-warning" ng-show="feeds.length > 0">{{(feeds | filter:filterText).length}} Items</span>
                <li ng-repeat="feed in feeds | filter:filterText">
                    <h5><a target="_blank" href="{{feed.link}}">{{feed.title}}</a></h5>
                    <p class="text-left" ng-bind-html-unsafe="feed.content"></p>
                    <span class="small">{{feed.publishedDate}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>