html {
    width: 700px;
    height: 500px;
    overflow: auto;
}

audio {
    padding-top: 10px;
}

.feed-title {
    text-decoration: underline;
}

.label-search {
    font-weight: bold;
    font-size: 150%;
    padding-right: 20px;
}

.form-search {
    padding-top: 10px;
    margin: 0 0 10px
 }

.nav-tabs {
    margin-bottom: 0;
}

#commonsPOD-carousel .feed-title,#commonsMedia .feed-title{
    padding-top: 30px;
}

#commonsPOD table{
    width: 100%;
}

h3 {
    text-align: center;
    color: #000000;
}

a, a:active, a:hover {
    color: #000000;
}

.carousel-control {
    top: 20px;
}