<div class="row-fluid">
    <div class="span12">
        <div ng-show="Feeds[tab.id].length > 0" id="{{tab.id}}-carousel" class="carousel slide" data-interval="false">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div ng-init="Feeds[tab.id].feedIndex=$index;" ng-repeat="feed in Feeds[tab.id]" class="item" ng-class="{active : $index==(Feeds[tab.id].length-1)}">
                    <h3 class="feed-title"><a target="_blank" href="{{feed.link}}">{{feed.title}}</a></h3>
                    <p feeds-tab="{{tab}}" ng-bind-html-unsafe="feed.content"></p>
                </div>
            </div>
            <a class="carousel-control left" ng-hide="Feeds[tab.id].feedIndex == 0;" ng-click="Feeds[tab.id].feedIndex = Feeds[tab.id].feedIndex-1;" href="#{{tab.id}}-carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" ng-hide="Feeds[tab.id].feedIndex == Feeds[tab.id].length-1;"  ng-click="Feeds[tab.id].feedIndex = Feeds[tab.id].feedIndex+1;" href="#{{tab.id}}-carousel" data-slide="next">&rsaquo;</a>
        </div>
        <h3 ng-hide="Feeds[tab.id].length > 0">
            Loading...
        </h3>
    </div>
</div>
